{% extends "blog/base.html" %}
{% load staticfiles %}

{% block head %}
    <meta name="author" content="pixelhint.com">
	<meta name="description" content="Magnetic is a stunning responsive HTML5/CSS3 photography/portfolio website template"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% endblock %}

{% block content %}

	<section class="main clearfix">
		<div class="work">
			<a href="{% static 'img/work1.jpg' %}">
				<img src="{% static 'img/work1.jpg' %}" class="media" alt=""/>
				<div class="caption">
					<div class="work_title">
						<h1>Em construção</h1>
					</div>
				</div>
			</a>
		</div>

		<div class="work">
			<a href="{% static 'img/work2.jpg' %}">
				<img src="{% static 'img/work2.jpg' %}" class="media" alt=""/>
				<div class="caption">
					<div class="work_title">
						<h1>Em construção</h1>
					</div>
				</div>
			</a>
		</div>

		<div class="work">
			<a href="{% static 'img/work3.jpg' %}">
				<img src="{% static 'img/work3.jpg' %}" class="media" alt=""/>
				<div class="caption">
					<div class="work_title">
						<h1>Em construção</h1>
					</div>
				</div>
			</a>
		</div>

		<div class="work">
			<a href="{% static 'img/work4.jpg' %}">
				<img src="{% static 'img/work4.jpg' %}" class="media" alt=""/>
				<div class="caption">
					<div class="work_title">
						<h1>Em construção</h1>
					</div>
				</div>
			</a>
		</div>

		<div class="work">
			<a href="{% static 'img/work5.jpg' %}">
				<img src="{% static 'img/work5.jpg' %}" class="media" alt=""/>
				<div class="caption">
					<div class="work_title">
						<h1>Em construção</h1>
					</div>
				</div>
			</a>
		</div>

		<div class="work">
			<a href="{% static 'img/work6.jpg' %}">
				<img src="{% static 'img/work6.jpg' %}" class="media" alt=""/>
				<div class="caption">
					<div class="work_title">
						<h1>Em construção</h1>
					</div>
				</div>
			</a>
		</div>

		<div class="work">
			<a href="{% static 'img/work2.jpg' %}">
				<img src="{% static 'img/work2.jpg' %}" class="media" alt=""/>
				<div class="caption">
					<div class="work_title">
						<h1>Em construção</h1>
					</div>
				</div>
			</a>
		</div>

		<div class="work">
			<a href="{% static 'img/work3.jpg'%}">
				<img src="{% static 'img/work3.jpg' %}"" class="media" alt=""/>
				<div class="caption">
					<div class="work_title">
						<h1>Em construção</h1>
					</div>
				</div>
			</a>
		</div>

		<div class="work">
			<a href="{% static 'img/work1.jpg' %}">
				<img src="{% static 'img/work1.jpg' %}" class="media" alt=""/>
				<div class="caption">
					<div class="work_title">
						<h1>Em construção</h1>
					</div>
				</div>
			</a>
		</div>
	</section><!-- end main -->
{% endblock %}