{% extends "blog/base.html" %}

{% block content %}
    <a href="{% url 'blog.views.post_new' %}"><span class="glyphicon glyphicon-plus-sign"> Inserir</span></a>
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h2><a href="{% url 'blog.views.post_detail' pk=post.pk %}">{{ post.title }}: {{ post.publish_date }}</a></h2>
            <p>{{ post.text|linebreaks }}</p>
        </div>
    {% endfor %}
{% endblock content %}

blog.views.post_new