{% extends 'blog/base.html' %}

{% block content %}
        <div class="post">
            {% if post.publish_date %}
                <div class="date">
                    {{ post.publish_date }}
            {% endif %}
            </div>
            <h2>{{ post.title }}</h2>
            {{ post.text|linebreaks }}
            <a class="btn btn-default" href="{% url "pessoa_edit" pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url "post_delete" pk=post.pk %}" onclick="btn_confirm_dialog()"><span class="glyphicon glyphicon-trash"></span></a>
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
{% endblock %}